In [200]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_fscore_support
import numpy as np

In [201]:
df = pd.read_csv('compas-scores-two-years.csv')
df = df[data.race.isin(['Caucasian', 'African-American'])]
df.head()

,id,name,first,last,compas_screening_date,sex,dob,age,age_cat,race,...,v_decile_score,v_score_text,v_screening_date,in_custody,out_custody,priors_count.1,start,end,event,two_year_recid
1,3,kevon dixon,kevon,dixon,2013-01-27,Male,1982-01-22,34,25 - 45,African-American,...,1,Low,2013-01-27,2013-01-26,2013-02-05,0,9,159,1,1
2,4,ed philo,ed,philo,2013-04-14,Male,1991-05-14,24,Less than 25,African-American,...,3,Low,2013-04-14,2013-06-16,2013-06-16,4,0,63,0,1
3,5,marcu brown,marcu,brown,2013-01-13,Male,1993-01-21,23,Less than 25,African-American,...,6,Medium,2013-01-13,NaN,NaN,1,0,1174,0,0
6,8,edward riddle,edward,riddle,2014-02-19,Male,1974-07-23,41,25 - 45,Caucasian,...,2,Low,2014-02-19,2014-03-31,2014-04-18,14,5,40,1,1
8,10,elizabeth thieme,elizabeth,thieme,2014-03-16,Female,1976-06-03,39,25 - 45,Caucasian,...,1,Low,2014-03-16,2014-03-15,2014-03-18,0,2,747,0,0

### Tratando os dados

Assim como a análise da ProPublica

In [202]:
column_names = ['age', 'c_charge_degree', 'race', 'age_cat', 'score_text', 'sex', 'priors_count',
                'days_b_screening_arrest', 'decile_score', 'is_recid', 'two_year_recid',
                'c_jail_in', 'c_jail_out']

In [203]:
df = df[df['days_b_screening_arrest'] <= 30]
df = df[df['days_b_screening_arrest'] >= -30]
df = df[df['is_recid'] != -1]
df = df[df['c_charge_degree'] != 'O']
df = df[df['score_text'] != 'N/A']
df[column_names].head()

,age,c_charge_degree,race,age_cat,score_text,sex,priors_count,days_b_screening_arrest,decile_score,is_recid,two_year_recid,c_jail_in,c_jail_out
1,34,F,African-American,25 - 45,Low,Male,0,-1.0,3,1,1,2013-01-26 03:45:27,2013-02-05 05:36:53
2,24,F,African-American,Less than 25,Low,Male,4,-1.0,4,1,1,2013-04-13 04:58:34,2013-04-14 07:02:04
6,41,F,Caucasian,25 - 45,Medium,Male,14,-1.0,6,1,1,2014-02-18 05:08:24,2014-02-24 12:18:30
8,39,M,Caucasian,25 - 45,Low,Female,0,-1.0,1,0,0,2014-03-15 05:35:34,2014-03-18 04:28:46
10,27,F,Caucasian,25 - 45,Low,Male,0,-1.0,4,0,0,2013-11-25 06:31:06,2013-11-26 08:26:57

In [204]:
sex_dict = dict(enumerate(df['sex'].astype('category').cat.categories))
print(sex_dict)
df['c_sex'] = df['sex'].astype('category').cat.codes

{0: 'Female', 1: 'Male'}

In [205]:
age_dict = dict(enumerate(df['age_cat'].astype('category').cat.categories))
print(age_dict)
df['c_age_cat'] = df['age_cat'].astype('category').cat.codes

{0: '25 - 45', 1: 'Greater than 45', 2: 'Less than 25'}

In [206]:
charge_dict = dict(enumerate(df['c_charge_degree'].astype('category').cat.categories))
print(charge_dict)
df['c_c_charge_degree'] = df['c_charge_degree'].astype('category').cat.codes

{0: 'F', 1: 'M'}

In [207]:
race_dict = dict(enumerate(df['race'].astype('category').cat.categories))
print(race_dict)
df['c_race'] = df['race'].astype('category').cat.codes

{0: 'African-American', 1: 'Caucasian'}

In [208]:
score_dict = dict(enumerate(df['score_text'].astype('category').cat.categories))
print(score_dict)
df['c_score_text'] = df['score_text'].astype('category').cat.codes

{0: 'High', 1: 'Low', 2: 'Medium'}

In [209]:
# df['c_jail_in'].astype('datetime64').astype('int64')
df['length_of_stay'] =  df['c_jail_out'].astype('datetime64').astype('int64') - df['c_jail_in'].astype('datetime64').astype('int64')

In [219]:
c_column_names = ['age', 'c_c_charge_degree', 'c_race', 'c_age_cat', 'c_score_text', 'c_sex', 'priors_count',
                'days_b_screening_arrest', 'decile_score', 'is_recid', 'two_year_recid']
# c_column_names = ['age', 'c_c_charge_degree', 'c_race', 'c_age_cat', 'c_score_text', 'c_sex', 'priors_count',
#                 'days_b_screening_arrest', 'decile_score', 'is_recid', 'two_year_recid', 'length_of_stay']
df[c_column_names].head()

,age,c_c_charge_degree,c_race,c_age_cat,c_score_text,c_sex,priors_count,days_b_screening_arrest,decile_score,is_recid,two_year_recid
1,34,0,0,0,1,1,0,-1.0,3,1,1
2,24,0,0,2,1,1,4,-1.0,4,1,1
6,41,0,1,0,2,1,14,-1.0,6,1,1
8,39,1,1,0,1,0,0,-1.0,1,0,0
10,27,0,1,0,1,1,0,-1.0,4,0,0

In [211]:
df2 = df[c_column_names]
X = df2.loc[:, df2.columns != 'two_year_recid']
X.head()

,age,c_c_charge_degree,c_race,c_age_cat,c_score_text,c_sex,priors_count,days_b_screening_arrest,decile_score,is_recid
1,34,0,0,0,1,1,0,-1.0,3,1
2,24,0,0,2,1,1,4,-1.0,4,1
6,41,0,1,0,2,1,14,-1.0,6,1
8,39,1,1,0,1,0,0,-1.0,1,0
10,27,0,1,0,1,1,0,-1.0,4,0

In [212]:
y = df2['two_year_recid']
y.head()

1     1
2     1
6     1
8     0
10    0
Name: two_year_recid, dtype: int64

In [213]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [214]:
logistic_regression_cv = LogisticRegressionCV(
    cv=5, max_iter=10000, n_jobs=2, verbose=1, multi_class="auto").fit(
    X_train, y_train)

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   5 out of   5 | elapsed:    3.7s finished

In [215]:
y_pred = logistic_regression_cv.predict(X_test)

In [216]:
prfs = precision_recall_fscore_support(y_test, y_pred)
prfs[:-1]
# pd.DataFrame(prfs[:-1],index=["Precisão", "Revocação", "F1"])

(array([1.        , 0.94716495]),
 array([0.95170789, 1.        ]),
 array([0.97525649, 0.97286565]))

### Cálculo das métricas